@import './color';
@import './vendor';

body{
    background-color: $mainBGcolor
}

#window-small {
    background-image: url('../images/windows-54kb.png');
    background-repeat: no-repeat;
    width: 400px;
    height: 267px;
}

#window-big {
    background-image: url('../images/windows-130kb.png');
    background-repeat: no-repeat;
    width: 700px;
    height: 467px;
}